<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    <ul id="navigation">
    {% for item in RSS %}
        <li><a href="{{ item.link }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

</body>
</html>